{% extends "layout.html" %}
{% block title %}Single account page{% endblock %}
{% block content %}
<h2>{{ account.firstname }} {{account.lastname}}</h2>
<p>Best restaurant app in the business!</p>

<p> This is the account page of {{account.firstname}} {{account.lastname}}<p>

{% if restaurants or events %}
<p>They currently administer the following.<p>
{% endif %}

{% if restaurants %}
<h4>Restaurants:</h4>
<ul>
    {% for restaurant in restaurants %}
    <li><a href="/restaurants/{{restaurant.id}}">{{restaurant.name}}</a> at {{restaurant.address}}</li>
    {% endfor %}
</ul>
{% endif %}

{% if events %}
<h4>Events</h4>
<ul>
    {% for event in events %}
    <li>{{event}}</li>
    {% endfor %}
</ul>
{% endif %}

{% if ratings %}
<h4>They have written the following reviews</h4>
<ul>
    {% for rating in ratings %}
    <li>{{rating}}</li>
    {% endfor %}
</ul>
{% endif %}

{% if session.user_id == account.id %}
<form action="/" method="GET"> 
<button formaction="/accounts/delete/{{account.id}}" formmethod="POST">Delete</button>
<button formaction="/accounts/edit/{{account.id}}" formmethod="GET">Edit details</button>
</form>
{% endif %}
{% endblock %}
