{% extends "layout.html" %}
{% block title %}Single account page{% endblock %}
{% block content %}
<h2>{{ account.firstname }} {{account.lastname}}</h2>


<p>Your public tagline is:<br>
    {{ account.description }}</p>

<p>Billing Info set to:<br>
    {{account.billing_info}}</p>

<p>Registered email is: {{account.email}}</p>


{% if restaurants or events %}
<p>You currently administer the following.<p>
{% endif %}

{% if restaurants %}
<h4>Restaurants:</h4>
<ul>
    {% for restaurant in restaurants %}
    <li><a href="/restaurants/{{restaurant.id}}">{{restaurant.name}}</a> at {{restaurant.address}}</li>
    {% endfor %}
</ul>
{% endif %}

{% if events %}
<h4>Your Events</h4>
<ul>
    {% for event in events %}
    <li><a href="/events/{{event.id}}">{{event.name}}</a> at <a href="/restaurants/{{event.restaurant_id}}">{{event.restaurant_name}}</a> on {{ event.start_time | output_date }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if ratings %}
<h4>They have written the following reviews</h4>
<ul>
    {% for rating in ratings %}
    <li><a href="/ratings/{{rating.id}}">A rating of {{rating.rating}}</a> for restaurant <a href="/restaurants/{{rating.restaurant_id}}">{{rating.restaurant_name}}</a> on {{rating.posted_on}}</li> 
    {% endfor %}
</ul>
{% endif %}

{% if session.user_id == account.id %}
<form action="/" method="GET"> 
<button formaction="/accounts/delete/{{account.id}}" formmethod="POST">Delete</button>
<button formaction="/accounts/edit/{{account.id}}" formmethod="GET">Edit details</button>
</form>
{% endif %}
{% endblock %}
