{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<h2>Edit account details</h2>
<p>Add your Best Self to the Best Restaurant App in the business!</p>
<form action="/accounts/update/{{account.id}}" method="POST">
    <label class="flabel">Username </label><input class="finput" type="text" name="username" value="{{account.username}}">
    <label class="flabel">First Name </label><input class="finput" type="text" name="firstname" value="{{account.firstname | default('') }}">
    <label class="flabel">Last Name </label><input class="finput" type="text" name="lastname" value="{{account.lastname | default('') }}">
    <label class="flabel">New Password </label><input class="finput" type="password" name="newpassword1">
    <label class="flabel">New password again </label> <input class="finput" type="password" name="newpassword2">
    <hr>
    <label class="flabel">Old Password to Confirm</label>   <input class="finput" type="password" name="oldpassword">

    <row class="fbutton">
        <button formaction="/accounts/{{account.id}}" formmethod="GET">Cancel</button>
        <button type="submit">Submit changes</button>
    </row>
</form>


{% endblock %}
