<!DOCTYPE html>
<head>
<title>
    {% block title %}{% endblock %} - RestaurantApp
</title>
<h1>
    RestaurantApp
</h1>
<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% for message in messages %}
        {% if message.startswith("Error") %}
            <div class="error_message">{{message}}</div>
        {% else %}
            <div class="flash_message">{{message}}</div>
        {% endif %}
    {% endfor %}
{% endwith %}
<nav style="white-space: nowrap;">
    <div style="float: left;">
        <a href="/">Front page</a>
        <a href="/restaurants">Restaurants</a>
        <a href="/events">Events</a>
        <a href="/buffets">Buffets</a>
        <a href="/ratings">Reviews</a>
        {% if session.user_id %}
            <a href="/accounts/{{session.user_id}}">My account</a>
            <a href="/messages/">My messages</a>
        {% endif %}
    </div>
    <div style="float: right;">
        {% if session.screenname %}
            You are logged in as {{session.screenname}}
            <a href="/accounts/logout">(Logout)</a>
        {% else %}
            <form action="/accounts/login" method="POST" style="display: inline;">
                Username: <input type="text" name="username"> Password: <input type="password" name="password">
                <button type="submit">Login</button>
            </form>
            or <a href="/accounts/registration">Register</a>
        {% endif %}
    </div>
</nav>
<br>
<hr>
{% block content %} {% endblock %}
<hr>
© 2024 Samuli Nikkilä
<script>
const error_messages = document.querySelectorAll('.error_message')
error_messages.forEach((elem, index) => {
    setTimeout(() => {
        elem.style.display = 'none';
    }, error_messages.length * 1000 + 5000);
});
const other_messages = document.querySelectorAll('.flash_message')
other_messages.forEach((elem, index) => {
    setTimeout(() => {
        elem.style.display = 'none';
    }, other_messages.length * 1000 + 5000);
});
</script>
</body>
