<!DOCTYPE html>
<head>
<title>
    {% block title %}{% endblock %} - RestaurantApp
</title>
<h1>
    RestaurantApp
</h1>
<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
{% for error in errors %}
    <div class="error_message">{{error}}</div>
{% endfor %}
{% with messages = get_flashed_messages() %}
    {% for message in messages %}
        <div class="flash_message">{{message}}</div>
    {% endfor %}
{% endwith %}
<nav style="white-space: nowrap;">
    <div style="float: left;">
        <a href="/">Front page</a>
        <a href="/restaurants">Restaurants</a>
        <a href="/ratings">Reviews</a>
        {% if session.username == 'Administrator' %}
        <a href="/accounts">Accounts</a>
        {% elif session.user_id %}
            <a href="/accounts/{{session.user_id}}">My account</a>
        {% endif %}
    </div>
    <div style="float: right;">
        {% if session.screenname %}
            You are logged in as {{session.screenname}}
            <a href="/accounts/logout">(Logout)</a>
        {% else %}
            <form action="/accounts/login" method="POST" style="display: inline;">
                Username: <input type="text" name="username"> Password: <input type="password" name="password">
                <button type="submit">Login</button>
            </form>
            or <a href="/accounts/registration">Register</a>
        {% endif %}
    </div>
</nav>
<br>
<hr>
{% block content %} {% endblock %}
<hr>
© 2024 Samuli Nikkilä
<script>
document.querySelectorAll('.error_message').forEach((elem, index) => {
    setTimeout(() => {
        elem.style.display = 'none';
    }, 5000 * (index + 1));
});
document.querySelectorAll('.flash_message').forEach((elem, index) => {
    setTimeout(() => {
        elem.style.display = 'none';
    }, 5000 * (index + 1));
});
</script>
</body>
