{% extends "layout.html" %}
{% block title %}Single Rating Page{% endblock %}
{% block content %}

<h3>{{rating.restaurant_name}}</h3>

{{ rating.rating | output_rating_stars }}

<p>On {{rating.posted_on | output_datetime }} {{rating | output_account_name }} wrote:<p>

<p>{{rating.content }}</p>

{% if session.user_id == rating.account_id %}
<form action="/" method="GET"> 
<button formaction="/restaurants/delete/{{rating.id}}" formmethod="POST">Delete</button>
<button formaction="/restaurants/edit/{{rating.id}}" formmethod="GET">Edit details</button>
</form>
{% endif %}
{% endblock %}
