{% extends "layout.html" %}
{% block title %}{{ name }}{% endblock %}
{% block content %}
<h2>{{ restaurant.name }}</h2>
<p>{{ restaurant.name }} at {{ restaurant.address }} [{{ restaurant.latitude }}, {{ restaurant.longitude }}] is very nice!</p>

{% if session.user_id == restaurant.account_id %}
<form action="/" method="GET"> 
<button formaction="/restaurants/delete/{{restaurant.id}}" formmethod="POST">Delete</button>
<button formaction="/restaurants/edit/{{restaurant.id}}" formmethod="GET">Edit details</button>
</form>
{% elif session.user_id %}
<a href="/ratings/new?{{restaurant.id}}">Rate your visit here</a>
{% endif %}
{% if events %}
<h3>Events</h3>
<ul>
{% for event in events %}
    <li><a href="/events/{{event.id}}">{{event.name}}</a> on {{ event.start_time | output_date}}.</li>
{% endfor %}
</ul>
{% endif %}

{% if ratings %}
<h3>Ratings</h3>
<ul>
{% for rating in ratings %}
    <li><a href="/ratings/{{rating.id}}">{{rating.rating | output_rating_stars}}</a> by <a href="/accounts/{{rating.account_id}}">{{ rating.account_firstname or rating.account_lastname}}</a> on {{ rating.posted_on | output_datetime}}</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
