form {
    max-width: 600px; 
    gap: 15px;
}
.flabel {
    float: left; 
    text-align: right; 
    width: 25%;
}

.finput {
    width:65%;
}

.fbutton {
    display: block;
    margin: auto;
}

.flash_message {
    font-size: 1.5em;
    color: #00ba37;
}

.error_message {
    font-size: 1.5em;
    color: #b32d2e;
}
